*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: white;
}
ul{
    padding: 20px;
    background-color: skyblue;
    text-align: right;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
    font-size: 1.25rem;
    color: whitesmoke;
    font-weight: 800;
}